{#include main.html}

<div class="container" hx-sse="connect:{uri:Dashboard.events}" hx-ext="morph">
  <div
    id="game-container"
    hx-headers='{"{inject:csrf.headerName}":"{inject:csrf.token}"}'
    hx-trigger="sse:game"
    hx-get="{uri:Dashboard.index}"
    hx-swap="morph:innerHTML"
>
    {#fragment id=game}
      <div class="controls-container d-flex justify-content-center align-items-center flex-column">
        {#include Dashboard/partials/watcher /}
      </div>
      {#include Dashboard/partials/board /}
    {/fragment}
  </div>
</div>