@font-face {
  font-family: 'SyneMono';
  src: url("./fonts/SyneMono-Regular.ttf") format("truetype");
}

@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
  font-family: SyneMono, monospace;
  height: -webkit-fill-available;
  background-color: #0D1C2C;
}
