@font-face {
  font-family: 'SyneMono';
  src: url("./fonts/SyneMono-Regular.ttf") format("truetype");
}

@import "bootstrap/dist/css/bootstrap.css";
@import "bootstrap-icons/font/bootstrap-icons.css";

html, body {
  font-family: SyneMono, monospace;
  height: -webkit-fill-available;
  background-color: #0D1C2C;
}

.controls-container {
  position: absolute;
  opacity: 90%;
  top: calc(50% - 200px);
  left: calc(50% - 150px);
  width: 300px;
  height: 400px;

  .btn {
    color: white;
  }
}

.watcher {
  i {
    font-size: 200px;
  }

  img.rocking-duke {
    height: 250px;
  }

  button.dance {
    animation: shake 2s infinite ease-in-out;
  }

  h2 {
    font-size: 40px;
    padding: 20px;
    border: 5px solid #DA3753;
    border-radius: 5px;
    color: white;
    text-transform: uppercase;
    background-color: black;
  }
}


@keyframes shake {
  0%  { transform: translate(3px, 1px) rotate(0deg); }
  10% { transform: translate(-5px, -2px) rotate(-2deg); }
  20% { transform: translate(-3px, 0px) rotate(7deg); }
  30% { transform: translate(0px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-4px, 1px) rotate(0deg); }
  70% { transform: translate(2px, 1px) rotate(-5deg); }
  80% { transform: translate(-1px, -4px) rotate(4deg); }
  90% { transform: translate(3px, 7px) rotate(0deg); }
  100%{ transform: translate(1px, -2px) rotate(-1deg); }
}



.board-container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  .runner {
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50px;
    height: 70px;
    width: 70px;
    font-size: 30px;
    border: 3px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    transition: bottom 200ms linear;
    background-color: white;
    &.dead {
      border-color: red;
    }
  }
}